<a routerLink="toAdd"><button class="btn btn-primary">Add Person</button></a>
<br><br><br>

<label>Order : </label>
<button class="btn btn-secondary" (click)="getList()">Normal</button>
|
<button class="btn btn-secondary" (click)="setOrderMoneyLowToHigh()">Low to High (Money)</button>
|
<button class="btn btn-secondary" (click)="setOrderMoneyHighToLow()">High to Low (Money)</button>
|
<button class="btn btn-secondary" (click)="setOrderAgeLowToHigh()">Low to High (Age)</button>
|
<button class="btn btn-secondary" (click)="setOrderAgeHighToLow()">High to Low (Age)</button>
<br><br>

<div class="btn-group dropright">
<select #nationality (change)="onSelected()" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  <option *ngFor="let person of listNationality" [ngValue]="person">{{person}}</option>
</select>
</div>

<br/><br/><br/> 

<table class="table">
  <thead class="thead-dark">
    <tr>
      <td>DNI</td>
      <td>Full Name</td>
      <td>Age</td>
      <td>Nationality</td>
      <td>Address</td>
      <td>NumberStreet</td>
      <td>Money</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let person of listOfPeople">
      <th>{{person.dni}}</th>
      <th>{{person.lastname}}, {{person.name}}</th>
      <th>{{person.age}}</th>
      <th>{{person.nationality}}</th>
      <th>{{person.address}}</th>
      <th>{{person.streetNumber}}</th>
      <th>{{person.money}}</th>
      <th><button class="btn btn-warning" (click)="updatePerson(person.id)">Update</button></th>
      <th><button class="btn btn-danger" (click)="deletePerson(person)">Delete</button></th>
      <th><button class="btn btn-success" (click)="transferMoney(person.id)">Transfer Money</button></th>
    </tr>
  </tbody>
</table>
